<%- include('layouts/header') %>

<%- include('layouts/nav') %>

<div class="login_form">
<main>
    <form action="/login" method="POST">
        <h2>Login</h2>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" >

        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" >
            
        </div>

        <div id="formError">
            <% if (typeof formErrors != 'undefined') { %>
                <% for (var er of formErrors) { %>
                    <p><%= er.msg %></p>
                <% } %>
            <% } %>        
            
        

        <% if (typeof errorMessage != 'undefined') { %>
            <p><%= errorMessage %></p>
        <% } %>

    </div>

        <button type="submit">Submit</button>
    </form>
</main>
</div>

<%- include('layouts/footer') %>