<%- include('layouts/header') %>
<%- include('admin/nav') %>

<div class="admin_home">
<main>
    <h2><%= successMessage %></h2>

    <h3><%= successText %> </h3>
</main>

</div>

<%- include('layouts/footer') %>